ul,
p,
div,
li {
  padding: 0;
  margin: 0;
}
body {
  background: #DBDBDB;
  padding: 15px;
  margin: 0;
}
.todoApp {
  padding: 15px;
  background: linear-gradient(#fbf 0%, #aac8ff 100%);
  border: 1px solid #aac8ff;
  border-radius: 5px;
  font-size: 20px;
}
.todoApp .addToDo {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todoApp .addToDo .addTodoText {
  width: 80%;
}
.todoApp .addToDo input {
  height: 30px;
  border-radius: 5px;
}
.todoApp .addToDo .submit {
  font-size: 15px;
}
.todoApp .toDoHeadline {
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}
.todoApp .toDo {
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}
.todoApp .done {
  padding-bottom: 20px;
}
.todoApp .done p {
  text-decoration: line-through;
}
.todoApp .search {
  width: 80%;
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
}
.hl {
  background: #e5ff00;
  color: wheat;
}
