body {
  margin: 0;
  background: #4c4c4c url('https://unsplash.it/1500/900?image=1021');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  width: 850px;
}
video {
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}
.speed {
  flex: 1;
  background: #efefef;
  display: flex;
  margin: 10px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  height: 430px;
}
.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rga(0, 0, 0, 0.2);
  padding: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16.3%;
}
