body {
  background: pink;
}
p,
div,
ul,
li,
form {
  padding: 0;
  margin: 0;
}
.search-form {
  max-width: 400px;
  margin: 50px auto;
}
input.search {
  width: 120%;
  padding: 20px;
  text-align: center;
  border: 10px solid #F7F7F7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  font-size: 40px;
  position: relative;
  left: -10%;
  top: 10px;
  z-index: 2;
}
.suggestions {
  font-size: 20px;
  font-weight: 200;
  position: relative;
}
.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #FFF 0%, #EFEFEF 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px) scale(1.001);
  background: linear-gradient(to top, #FFF 0%, #EFEFEF 100%);
}
.suggestions > * {
  list-style-type: none;
  padding: 20px;
}
.matchItems {
  background: #eadcf5;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DbDbDb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}
.numberList {
  font-size: 15px;
}
